<% content_for(:template_name) { "mass-messages" }  %>

<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card form-card--compact">
        <div class="form-card__header">
          <h1 class="form-card__title">New mass message</h1>
        </div>
        <div class="form-card__content">
          <%= form_for @mass_message, builder: GcfFormBuilder do |f| %>
            <%= f.gcf_textarea :message, "Your message" %>

            <div id="client-list" class="form-group <%= 'form-group--error' if @mass_message.errors[:reporting_relationships].any? %>">
              <p class="form-question">Select recipients</p>

              <% if @mass_message.errors[:reporting_relationships].any? %>
                  <div class="text--error">
                    <i class="icon-warning"></i>
                    <%= @mass_message.errors[:reporting_relationships].first %>
                  </div>
              <% end %>

              <div class="input-group client-search-input">
                <div class="inner-addon left-addon">
                  <input type="text" class="searchbar__input search" placeholder="Search clients by name"/>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
              </div>

              <input type="checkbox" id="select_all" />
              <label for="select_all">Select all</label>

              <table class="data-table data-table--selectable">
                <thead>
                  <tr>
                    <th class="check-column">
                    </th>
                    <% if feature_flag_for('categories') %>
                    <th class="sort hidden-xs category-order after-checkbox" data-sort="category-order">
                      <span class="icon-sort-arrows" aria-hidden="true"></span>
                    </th>
                    <% end %>
                    <th class="sort lastname-order" data-sort="lastname">
                      <span class="icon-sort-arrows" aria-hidden="true"></span>
                      Name
                    </th>
                    <th class="sort desc" data-sort="timestamp">
                      <span class="icon-sort-arrows" aria-hidden="true"></span>
                      Last contact
                    </th>
                    <% if current_user.department.client_statuses? %>
                      <th class="sort hidden-xs" data-sort="client-status">
                          <span class="icon-sort-arrows" aria-hidden="true"></span>
                          Status
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="list">
                  <%= f.collection_check_boxes :reporting_relationships, @reporting_relationships, :id, :display_name do |b| %>
                    <% rr = b.object %>
                    <% client = rr.client %>
                    <tr id="<%= dom_id(rr) %>" class="<%= 'row--warning' if @mass_message.reporting_relationships.include? b.value %>">
                      <td>
                        <%= b.label(class: ['cell-content']) do %>
                          <%= b.check_box %>
                        <% end %>
                      </td>
                      <% if feature_flag_for('categories') %>
                      <td class="hidden-xs category-order" data-category-order="<%= rr.category_info['order'] %>">
                        <%= b.label(class: ['cell-content']) do %>
                          <i data-category-name="<%= rr.category %>" class="category-symbol icon-<%= rr.category_info['icon'] %>"></i>
                        <% end %>
                      </td>
                      <% end %>
                      <td class="lastname fullname" data-lastname="<%= client.last_name %>" data-fullname="<%= client.full_name %>">
                        <%= b.label(class: ['cell-content']) do %>
                          <%= client.full_name %>
                        <% end %>
                      </td>
                      <td data-timestamp="<%= rr.timestamp %>" class="timestamp">
                        <%= b.label(class: ['cell-content']) do %>
                          <%= rr.last_contacted_at ? time_ago_in_words(rr.last_contacted_at) : '--' %>
                        <% end %>
                      </td>
                      <% if current_user.department.client_statuses? %>
                        <td class="hidden-xs client-status" data-client-status="<%= rr.client_status ? rr.client_status.name : '--' %>">
                          <%= b.label(class: ['cell-content']) do %>
                            <i class="hidden-xs status-icon" style="background-color:<%= rr.client_status.icon_color if rr.client_status %>"></i>
                            <%= rr.client_status ? rr.client_status.name : '--' %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div id="no-search-results" class="notice" role="alert" style="display: none;">
                Your search didn't return any results. Clear your search to view all clients.
              </div>
            </div>
            <div id='schedule-later-form'>
              <h1 class="form-card__title"><%= t('views.mass_message.new.schedule_form.title') %></h1>
              <div class="form-group <%= 'form-group--error' if @mass_message.errors[:send_at].any? %>">
                <div class="grid">
                  <div class="grid__item width-one-half">
                    <label for="mass_message_send_at_date" class="form-question">Date</label>
                    <%
                        send_at_date = ''
                        send_at_time = '09:00'
                        if @mass_message.send_at.present?
                          send_at_date = @mass_message.send_at.strftime('%m/%d/%Y')
                          send_at_time = @mass_message.send_at.strftime('%H:%M')
                        end
                    %>
                    <input type="text" class="form-width--date text-input" name="mass_message[send_at][date]" id="mass_message_send_at_date" value="<%= send_at_date %>" />
                    <% if @mass_message.errors[:send_at].any? %>
                      <p class="text--error"><%= @mass_message.errors[:send_at].first %></p>
                    <% end %>
                  </div>

                  <div class="grid__item width-one-half">
                    <label for="scheduled_message_send_at_time" class="form-question">Time</label>
                    <div class="select">
                      <select class="select__element" name="mass_message[send_at][time]" id="scheduled_message_send_at_time">
                      <%
                        start = Time.zone.now.change(min: 0, hour: 0)
                        times = []
                        48.times do
                          times << start
                          start += 30.minutes
                        end
                      %>
                      <% times.each_with_index do |time, i| %>
                        <option <%= "selected" if time.strftime('%H:%M') == send_at_time %> value="<%= time.strftime('%-l:%M%P') %>"><%= time.strftime('%-l:%M%P') %></option>
                      <% end %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-card__footer">
              <div class="toolbar">
                <div id="send-now-buttons">
                  <div class="toolbar__left">
                    <%= f.submit 'Send', id: :send_message, class: %w[sendbar__button button--primary] %>
                    <input type="button" id="send_later" class="sendbar__button" value="Send later" />
                  </div>
                </div>
                <div id="schedule-later-buttons">
                  <div class="toolbar__left">
                    <%= f.submit 'Schedule messages', id: :schedule_messages, class: %w[sendbar__button button--primary] %>
                  </div>
                </div>
                <div class="toolbar__right">
                  <%= link_to clients_path, class: "button", id: "cancel-mass-message" do %>
                    Cancel
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
