<% content_for(:template_name) { "mass-messages" }  %>

<div class="slab">
  <div class="grid">
    <div class="grid__item width-five-sixths shift-one-twelfth">
      <div class="form-card form-card--compact">
        <div class="form-card__header">
          <h1 class="form-card__title">New mass message</h1>
        </div>
        <div class="form-card__content">
          <%= form_for @mass_message, builder: GcfFormBuilder do |f| %>
            <%= f.gcf_textarea :message, "Your message" %>

            <div id="client-list" class="form-group <%= 'form-group--error' if @mass_message.errors[:clients].any? %>">
              <p class="form-question">Select recipients</p>

              <% if @mass_message.errors[:clients].any? %>
                  <div class="text--error">
                    <i class="icon-warning"></i>
                    <%= @mass_message.errors[:clients].first %>
                  </div>
              <% end %>

              <div class="input-group client-search-input">
                <div class="inner-addon left-addon">
                  <input type="text" class="searchbar__input search" placeholder="Search clients by name"/>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
              </div>

              <input type="checkbox" id="select_all" />
              <label for="select_all">Select all</label>

              <table class="data-table data-table--selectable">
                <thead>
                  <tr>
                    <th class="check-column">
                    </th>
                    <th class="sort" data-sort="lastname">
                      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                      Name
                    </th>
                    <th class="sort desc" data-sort="timestamp">
                      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                      Last contact
                    </th>
                    <% if current_user.department.client_statuses? %>
                      <th class="sort hidden-xs" data-sort="client-status">
                          <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                          Status
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="list">
                  <%= f.collection_check_boxes :clients, @clients, :id, :full_name do |b| %>
                    <% client = b.object %>
                    <tr id="<%= dom_id(client) %>" class="<%= 'row--warning' if @mass_message.clients.include? b.value %>">
                      <td>
                        <%= b.label(class: ['cell-content']) do %>
                          <%= b.check_box %>
                        <% end %>
                      </td>
                      <td class="lastname fullname" data-lastname="<%= client.last_name %>" data-fullname="<%= client.full_name %>">
                        <%= b.label(class: ['cell-content']) do %>
                          <%= client.full_name %>
                        <% end %>
                      </td>
                      <td data-timestamp="<%= client.timestamp(user: current_user) %>" class="timestamp">
                        <%= b.label(class: ['cell-content']) do %>
                          <%= client.last_contacted_at(user: current_user) ? time_ago_in_words(client.last_contacted_at(user: current_user)) : '--' %>
                        <% end %>
                      </td>
                      <% if current_user.department.client_statuses? %>
                        <td class="hidden-xs client-status" data-client-status="<%= client.client_status(user: current_user) ? client.client_status(user: current_user).name : '--' %>">
                          <%= b.label(class: ['cell-content']) do %>
                            <i class="hidden-xs status-icon" style="background-color:<%= client.client_status(user: current_user).icon_color if client.client_status(user: current_user) %>"></i>
                            <%= client.client_status(user: current_user) ? client.client_status(user: current_user).name : '--' %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div id="no-search-results" class="notice" role="alert" style="display: none;">
                Your search didn't return any results. Clear your search to view all clients.
              </div>
            </div>

            <div class="form-card__footer">
              <div id='schedule-later-form' class='notice'>
                <%= t('views.mass_message.new.schedule_form.title') %>
              </div>
              <div class="toolbar">
                <div class="toolbar__left">
                  <button id="send_message" class="sendbar__button button--primary" type="submit">Send</button>
                  <button id="send_later" class="sendbar__button" data-toggle="modal" type="button" data-target="#new-message-modal">Send later</button>
                </div>
                <div class="toolbar__right">
                  <%= link_to clients_path, class: "button" do %>
                    Cancel
                  <% end %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
