<div class="modal" id="<%= modal_id %>" data-show="<%= modal_id == 'edit-message-modal' or errors %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <table width="100%">
          <tr>
            <td>
          <% if modal_id == 'edit-message-modal' %>
            <%= link_to back_link do %>
            <button id="modal-back-button" class="button button--small"><i class="icon-arrow_back"></i> Back</button>
            <% end %>
          <% end %>
            <h2 class="form-card__title" id="myModalLabel"><%= modal_title %></h2>
            </td>
            <td>
            <a href="<%= client_messages_path(@client) %>" class="close no-underline" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            </td>
          </tr>
        </table>
      </div>

      <div class="modal-body">
        <%= form_for message, builder: GcfFormBuilder, namespace: 'scheduled' do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">
        <%= f.gcf_textarea(:body, 'Your message', classes: ['send-later-input'], placeholder: 'Your message text', autofocus: @sendfocus.nil?) %>
        <div class="form-card__content">
          <div class="<%= 'form-group--error-modal' if message.errors[:send_at].any? %>">
          <div class="form-group <%= 'form-group--error' if message.errors[:send_at].any? %>">
            <div class="grid">
              <div class="grid__item width-one-half">
                <label for="<%= date_picker_id %>" class="form-question">Date</label>
                <%
                    send_at_date = ''
                    send_at_time = '09:00'
                    if message.send_at.present?
                      send_at_date = message.send_at.strftime('%m/%d/%Y')
                      send_at_time = message.send_at.strftime('%H:%M')
                    end
                %>
                <input type="text" class="form-width--date text-input" name="message[send_at][date]" id="<%= date_picker_id %>" value="<%= send_at_date %>" />
                <% if message.errors[:send_at].any? %>
                  <p class="text--error"><%= message.errors[:send_at].first %></p>
                <% end %>
              </div>

              <div class="grid__item width-one-half">
                <label for="scheduled_message_send_at_time" class="form-question">Time</label>
                <div class="select">
                  <select class="select__element" name="message[send_at][time]" id="scheduled_message_send_at_time">
                  <%
                    start = Time.now.change(min: 0, hour: 0)
                    times = []
                    48.times do
                      times << start
                      start += 30.minutes
                    end
                  %>
                  <% times.each_with_index do |time, i| %>
                    <option <%= "selected" if time.strftime('%H:%M') == send_at_time %> value="<%= time.strftime('%-l:%M%P') %>"><%= time.strftime('%-l:%M%P') %></option>
                  <% end %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="toolbar__left-responsive">
          <%= f.submit submit_text, class: 'button button--primary toolbar__item', role: 'button' %>
        <% if modal_id == 'edit-message-modal' %>
          <%= link_to 'Delete message', message_path(@message), class: 'button button--danger toolbar__item', method: :delete %>
        <% end %>
        </div>
        <div class="toolbar__right-responsive">
          <button type="button" class="button toolbar__item" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
