<div class="message--<%= message_inbound_or_outbound(message) %>" id="<%= dom_id(message) %>">
  <div class="message--content"><%= message.body %>
  <%= render message.attachments %>
  </div>
  <p class="message--label"><%= message.twilio_status %> <%= message.created_at.to_s(:message_timestamp) %></p>
</div>
