<div class="card">
  <p><%= message.body %></p>
  <p class="label"><b>number_from:</b> <%= message.number_from %> /
  <b>number_to:</b> <%= message.number_to %> /
  <b>inbound:</b> <%= message.inbound %> /
  <b>twilio_sid:</b> <%= message.twilio_sid %> /
  <b>twilio_status:</b> <%= message.twilio_status %> /
  <b>created_at:</b> <%= message.created_at %></p>
</div>
