<% unless message.marker? %>
  <div class="message--<%= message_inbound_or_outbound(message) %>" id="<%= dom_id(message) %>">
    <div class="message-row-container">
      <div class="message--content <%= message.twilio_status %>"><%= message.body %>
      <%= render message.attachments %>
      </div>
      <% if message.inbound && message.user.treatment_group == 'ebp-liking-messages' %>
        <i class="show-like-options icon-add"></i>
        <div class="like-options hidden">
          <% APP_CONFIG['like_text'].each do |text| %>
            <div><%= text %></div>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="message--label <%= message.twilio_status %>">
      <% if message.twilio_status == 'undelivered' %>
        <%= t('message.status.undelivered') %>
      <% else %>
        <%= message.twilio_status %> <%= message.send_at.to_s(:message_timestamp) %>
      <% end %>
    </p>
  </div>
<% else %>
  <div class="message--event" id="<%= dom_id(message) %>">
    <div class="event--line">
      <p class="message--label">
        <%= message.body %>
      </p>
    </div>
    <p class="message--label">
      <%= message.send_at.strftime('%-m/%-d/%y, %-l:%M%P') %>
    </p>
  </div>
<% end %>
