<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item">
      <h2 class="client-name"><%= @client.full_name %></h2>
      <%= link_to "Edit client", edit_client_path(@client), {class: 'button button--small' } %>
    </div>
    <span class="text--help is-mobile-hidden--inline"><%= phone_number_display(@client.phone_number) %></span>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<%= render partial: "send_message_form" %>

<div class="modal fade" id="edit-message-modal" data-show="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="<%= client_messages_path(@client) %>" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="form-card__title" id="myModalLabel">Edit your message</h2>
      </div>
      <%= form_for @message, builder: GcfFormBuilder, namespace: 'scheduled' do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">
        <div class="modal-body">
          <%= f.gcf_textarea(:body, 'Your message', classes: ['send-later-input'], placeholder: 'Your message text', autofocus: true) %>
          <fieldset>
            <label for="scheduled_message_send_at_date">
              <p class="form-question">Date</p>
            </label>
            <input type="text" name="message[send_at][date]" id="scheduled_message_send_at_date" value="<%= @message.send_at.strftime('%m/%d/%Y') %>" />
            <label for="scheduled_message_send_at_time">
              <p class="form-question">Time</p>
            </label>
            <select name="message[send_at][time]" id="scheduled_message_send_at_time">
              <%
                  start = Time.now.change(min: 0, hour: 0)
                  times = []
                  48.times do
                    times << start
                    start += 30.minutes
                  end
              %>
              <% times.each do |time| %>
                <option <%= "selected" if time.strftime('%H:%M') == @message.send_at.strftime('%H:%M') %> value="<%= time.strftime('%-l:%M%P') %>"><%= time.strftime('%-l:%M%P') %></option>
              <% end %>
            </select>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="schedule-message" type="submit" class="button button--primary">Update</button>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
