<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item">
      <h2 class="client-name"><%= @client.full_name %></h2>
      <%= link_to "Edit client", edit_client_path(@client), {class: 'button button--small' } %>
    </div>
    <span class="text--help is-mobile-hidden--inline"><%= phone_number_display(@client.phone_number) %></span>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<% if @messages_scheduled.count > 0 %>
<div id="scheduled_messages_link">
  <%= render "scheduled_messages_link", count: @messages_scheduled.count, client: @client %>
</div>
<% end %>

<section class="message--create">
  <div class="grid">
    <%= form_for Message.new, remote: true, :html => {class: 'sendbar' } do |f| %>
      <div class="grid__item width-two-thirds">
        <%= f.text_field(:body, { autofocus: true, type: 'text', class: 'sendbar__input main-message-input', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', placeholder: 'Send a text message' }) %>
      </div>
      <button id="send_message" class="sendbar__button button--primary" type="submit">Send <i class="icon-arrow_upward"></i></button>
      <button id="send_later" class="sendbar__button" data-toggle="modal" type="button" data-target="#send-later-modal">Send later <i class="icon-timer"></i></button>
      <input name="client_id" type="hidden" value="<%= @client.id %>">
    <% end %>
  </div>
</section>

<div class="modal fade" id="send-later-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Send message later</h4>
      </div>
      <%= form_for @message, builder: GcfFormBuilder, namespace: 'scheduled' do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">
        <div class="modal-body">
          <%= f.gcf_textarea(:body, 'Your message', classes: ['send-later-input'], placeholder: 'Your message text', autofocus: true) %>
          <fieldset class="form-group">
            <div class="select">
              <%= f.datetime_select :send_at,
                { order: [:month, :day, :year, :hour, :minute],
                  start_year: Time.now.year,
                  end_year: Time.now.year + 1,
                  date_separator: '</div><div class="select">',
                  datetime_separator: '</div> — <div class="select">',
                  time_separator: '</div> : <div class="select">'},
                  { class: "select__element" }
              %>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button id="schedule-message" type="submit" class="button button--primary">Schedule message</button>
          <button type="button" class="button" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
