<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item width-one-third">
      &lt; <%= link_to "Clients", clients_path %>
    </div>
    <div class="grid__item width-one-third">
      <strong><%= @client.full_name %></strong>
    </div>
    <div class="grid__item width-one-third text--right">
      <%= @client.phone_number_display %>
    </div>
  </div>
</section>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <% @messages.each do |message| %>
        <div class="card">
          <p><%= message.body %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
    <%= form_for @message, builder: GcfFormBuilder do |f| %>
      <%= f.gcf_textarea :body, "Send a text message", autofocus: true, classes: ['form-width--name'] %>
        <div class="toolbar">
          <div class="toolbar__right"><%= f.submit "Send", class: 'button button--cta', role: 'button' %></div>
        </div>
    <% end %>
    </div>
  </div>
</section>
