<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="row">
      <div class="col-md-5">
        <h2 class="client-name">
          <%= @client.full_name %>
          <small><%= phone_number_display(@client.phone_number) %></small>
        </h2>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        <h2><small><%= @client.notes %></small></h2>
      </div>
      <div class="col-md-3">
        <%= link_to "Manage client", edit_client_path(@client), {class: 'button button--small pull-right' } %>
      </div>
    </div>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<%= render "send_message_form", autofocus: @sendfocus.present? %>

<% if @message.id.present? %>
  <%= render 'edit_message_modal',
    modal_id: 'edit-message-modal',
    message: @message,
    errors: @message.errors.any?,
    back_link: client_scheduled_messages_index_path(@client),
    modal_title: 'Edit your message',
    date_picker_id: 'edit_message_send_at_date',
    submit_text: 'Update' %>
<% else %>
  <%= render 'edit_message_modal',
    modal_id: 'new-message-modal',
    message: @message,
    errors: @message.errors.any?,
    modal_title: 'Send message later',
    date_picker_id: 'new_message_send_at_date',
    submit_text: 'Schedule message' %>
<% end %>
