<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header chat--header">
  <div class="grid">
    <div class="row">

        <div class="col-xs-7 col-sm-8 col-md-9">
          <h2 class="client-name">
            <%= @client.full_name %>
          </h2>
          <span class="header--paragraph no-margin hidden-xs"><%= phone_number_display(@client.phone_number) %></span>
          <% unless @client.notes.blank? %> | <% end %>
          <span id="truncated_note" class="header--paragraph hidden-xs">
            <%= truncate(@client.notes, length: 40, separator: ' ', omission: '... ') { link_to 'More', '#', { id: 'show_note' } } %>
          </span>
          <span id="full_note" style="display:none" class="header--paragraph hidden-xs">
            <%= @client.notes %> <%=link_to 'Less', '#', { id: 'hide_note' } %>
          </span>
        </div>


        <div class="col-sm-4 col-md-3 hidden-xs">
          <%= link_to "Manage client", edit_client_path(@client), {id: 'manage_client', class: 'button button--small pull-right' } %>
        </div>
        <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
          <%= link_to "Manage", edit_client_path(@client), {id: 'manage_client', class: 'button button--small pull-right' } %>
        </div>
    </div>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<%= render "send_message_form", autofocus: @sendfocus.present? %>

<% if @message.id.present? %>
  <%= render 'edit_message_modal',
    modal_id: 'edit-message-modal',
    message: @message,
    errors: @message.errors.any?,
    back_link: client_scheduled_messages_index_path(@client),
    modal_title: 'Edit your message',
    date_picker_id: 'edit_message_send_at_date',
    submit_text: 'Update' %>
<% else %>
  <%= render 'edit_message_modal',
    modal_id: 'new-message-modal',
    message: @message,
    errors: @message.errors.any?,
    modal_title: 'Send message later',
    date_picker_id: 'new_message_send_at_date',
    submit_text: 'Schedule message' %>
<% end %>
