<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item width-one-third">
      &lt; <%= link_to "Clients", clients_path %>
    </div>
    <div class="grid__item width-one-third">
      <strong><%= @client.full_name %></strong>
    </div>
    <div class="grid__item width-one-third text--right is-mobile-hidden--inline">
      <%= phone_number_display(@client.phone_number) %>
    </div>
  </div>
</section>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div id="message-list" class="grid__item width-two-thirds shift-one-sixth">
      <% @messages.each do |message| %>
        <div class="card">
          <p><%= message.body %></p>
          <p class="label"><b>number_from:</b> <%= message.number_from %> /
          <b>number_to:</b> <%= message.number_to %> /
          <b>inbound:</b> <%= message.inbound %> /
          <b>twilio_sid:</b> <%= message.twilio_sid %> /
          <b>twilio_status:</b> <%= message.twilio_status %> /
          <b>created_at:</b> <%= message.created_at %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
    <%= form_for @message, :html => {:class => "sendbar form-width--sendbar toolbar__item"}, builder: GcfFormBuilder do |f| %>
      <%= f.gcf_send_message_field :body, "Send", autofocus: true, placeholder: "Send a text message" %>
      <input name="client_id" type="hidden" value="<%= @client.id %>">
    <% end %>
    </div>
  </div>
</section>
