<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item">
      <h2 class="client-name"><%= @client.full_name %></h2>
      <%= link_to "Edit client", edit_client_path(@client), {class: 'button button--small' } %>
    </div>
    <span class="text--help is-mobile-hidden--inline"><%= phone_number_display(@client.phone_number) %></span>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<section class="message--create">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <%= form_for @message, remote: true, :html => {:class => "sendbar form-width--searchbar"}, builder: GcfFormBuilder do |f| %>
      <%= f.gcf_send_message_field :body, "Send", autofocus: true, placeholder: "Send a text message" %>
      <input name="client_id" type="hidden" value="<%= @client.id %>">
      <% end %>
    </div>
  </div>
</section>
