<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="form-card form-card--compact">

        <div class="form-card__header">
          <div class="toolbar">
            <div class="toolbar__left">
              <h1 class="form-card__title">Sign up</h1>
            </div>
            <div class="toolbar__right">
              <%= link_to new_session_path(resource_name), class: "button button--small button--primary" do %>
                Log in
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-card__content">
        <%= form_for resource, as: resource_name, url: registration_path(resource_name), builder: GcfFormBuilder do |f| %>
          <%= f.gcf_input_field :email, "Email", autofocus: true, classes: ['form-width--name'] %>

          <%= f.gcf_input_field :password, "Password", type: "password", classes: ['form-width--name'], notes: ['(' + @minimum_password_length.to_s + ' characters minimum)'] %>
          <%= f.gcf_input_field :password_confirmation, "Password confirmation", type: "password", classes: ['form-width--name'] %>

          <div class="form-card__footer">
            <div class="toolbar">
              <div class="toolbar__left">
                <div class="toolbar__item">
                  <%= f.continue "Sign up" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
