<div class="modal" id="scheduled-list-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="<%= templates_path %>" class="close no-underline" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="form-card__title" id="myModalLabel">Edit Template</h2>
      </div>

      <%= form_for @template, builder: GcfFormBuilder do |f| %>
        <div class="modal-body">
            <div class="form-card__content">
                <div class="grid">
                  <div class="form-group <%= 'form-group--error-modal' if @template.errors.any? %>">
                    <div class="grid__item">
                      <%= f.gcf_input_field :title, "Template name" %>
                    </div>
                  </div>
                  <div class="form-group <%= 'form-group--error-modal' if @template.errors.any? %>">
                    <div class="grid__item">
                      <%= f.gcf_textarea :body, "Template" %>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="toolbar">
            <div class="toolbar__left">
              <%= f.submit 'Update',
                  class: 'button button--primary',
                  role: 'button' %>
            </div>
            <div class="toolbar__left">
              <%= link_to 'Delete template',
                  template_path(@template),
                  data: { confirm: 'Are you sure you want to delete this template?'},
                  method: :delete,
                  class: 'button button--danger',
                  role: 'button' %>
            </div>
            <div class="toolbar__right">
              <div class="toolbar__right-responsive">
                <button type="button" class="button toolbar__item" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
