<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">

          <div class="toolbar-responsive with-padding-med">
            <div class="toolbar__left-responsive">
              <h1><%= t('views.templates.index.title') %></h1>
            </div>
            <div class="toolbar__right-responsive">
              <%= link_to new_template_path, class: "button button--small button--cta" do %>
                <i class="button__icon--left icon-add"></i> <%= t('views.templates.index.new_template') %>
              <% end %>
            </div>
          </div>
          <p><%= t('views.templates.index.instructions') %></p>
            <% if @templates.empty? %>
              <div class="text-center col-md-8 col-md-offset-2">
                <%= image_tag('empty_templates.png', class: 'with-padding-small') %>
              </div>
            <% else %>
              <table class="data-table data-table--selectable">
                <thead>
                  <tr>
                    <th><%= t('views.templates.index.table_headers.template') %></th>
                    <th class="hidden-xs"><%= t('views.templates.index.table_headers.edit') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @templates.each do |template| %>
                    <tr id="<%= dom_id(template) %>">
                      <td>
                        <a class="cell-content" href="<%= edit_template_path(template) %>">
                          <strong><%= template.title %></strong>
                          <p><%= template.body %></p>
                        </a>
                      </td>
                      <td class="hidden-xs">
                        <a class="cell-content" href="<%= edit_template_path(template) %>">
                          <i class="icon-mode_edit"></i>
                        </a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
          <%= link_to clients_path, class: 'button button--small nudge--med' do %>
              <i class="button__icon--left icon-arrow_back"></i> <%= t('views.shared.home') %>
          <% end %>
        </div>
      </div>
    </div>
</section>
