<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">An administrator has transferred <%= @transferred_clients.count %> clients to you.</span>
        <table class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p class="header-appname">ClientComm</p>
                    <p>Hi <%= @current_user.full_name %>,</p>
                    <p>An administrator has transferred <%= @transferred_clients.count %> new clients to your client list. Be sure to introduce yourself!</p>
                    <% if FeatureFlag.enabled?("mass_messages") %>
                      <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                          <tr>
                            <td>
                              <%= link_to('Mass Message them now', new_mass_message_url, { target: '_blank', class: 'email-cta' }) %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <% end %>
                    <p>Your new clients are:</p>
                    <% @transferred_clients.each do |hash| %>
                      <p><%= link_to "#{hash[:client].full_name}, #{hash[:client].phone_number}, from #{hash[:previous_user].full_name}.", client_messages_url(hash[:client]) %>.</p>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
