<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">An administrator has transferred a client to you.</span>
        <table class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p class="header-appname">ClientComm</p>
                    <p>
                      Hi <%= @notified_user.full_name %>,
                    </p>
                    <p>
                      <%= @editing_user.full_name %> has made the following change to your shared client:
                    </p>
                    <p class="message-well">
                      <% if @full_name.present? %>
                        <%= @full_name %>'s name is now <%= link_to @client.full_name, client_messages_url(@client) %>.
                      <% end %>
                      <br />
                      <br />
                      <% if @phone_number.present? %>
                        <%= link_to "#{@client.full_name}'s", client_messages_url(@client) %> phone number has changed from <%= phone_number_display(@phone_number) %> to <%= phone_number_display(@client.phone_number) %>.
                      <% end %>
                    </p>
                    <p>
                      As a reminder, any changes made to this client's name or phone number will be shared with <%= @client.active_users.where.not(id: @notified_user.id).pluck(:full_name).to_sentence %>.
                    </p>

                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td>
                            <%= link_to('View client on ClientComm', client_messages_url(@client), { target: '_blank', class: 'email-cta' }) %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
