<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">You've received a new message on ClientComm.</span>
        <table class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p class="header-appname">ClientComm</p>
                    <p><b><%= "#{@client.first_name} #{@client.last_name}" %></b> sent you a text message on <%= @message.created_at.strftime("%-m/%d") %>, at <%= @message.created_at.strftime("%-I:%M%p") %>:</p>
                    <p class="message-well">
                      <% if @message.body.present? %>
                      "<%= @message.body %>"
                      <% end %>
                      <%= render @message.attachments %>
                    </p>

                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td>
                            <%= link_to('Respond on ClientComm', client_messages_url(@client), { target: '_blank', class: 'email-cta' }) %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
