<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader"><%= I18n.t('report_mailer.subject', start_date: @start_date.strftime('%-m/%-d/%y'), end_date: @end_date.strftime('%-m/%-d/%y')) %></span>
        <table class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <!-- START CSV STUFF -->
                    <p class="header-appname">ClientComm</p>
                    <p><%= t('report_mailer.summary', start_date: @start_date.strftime('%-m/%-d/%y'), end_date: @end_date.strftime('%-m/%-d/%y')) %></p>
                    <table class="csv">
                      <tr><th><%= t('report_mailer.column_headers.name') %></th><th><%= t('report_mailer.column_headers.outbound') %></th><th class="scheduled-column"><%= t('report_mailer.column_headers.scheduled') %></th><th><%= t('report_mailer.column_headers.inbound') %></th><th><%= t('report_mailer.column_headers.total') %></th></tr>
                      <% @metrics.each do |row| %>
                        <tr>
                          <% row.each_with_index do |column, index| %>
                            <td class="<%= index == 2 ? 'scheduled-column' : '' %>"><%= column %></td>
                          <% end %>
                        </tr>
                      <% end %>
                      <tr>
                        <td>Total</td>
                        <td><%= @total_outbound %></td><td class="scheduled-column"><%= @total_scheduled %></td><td><%= @total_inbound %></td><td><%= @total_total %></td>
                      </tr>
                    </table>
                    <p><%= t('report_mailer.footer') %></p>
                    <!-- END CSV STUFF -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
