<div id="client-list" class="grid__item">
  <div class="input-group client-search-input">
    <div class="inner-addon left-addon">
      <input type="text" class="searchbar__input search" placeholder="Search clients by name"/>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
    <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
  </div>
  <table class="data-table data-table--selectable">
    <thead>
    <tr>
      <th class="sort" data-sort="lastname">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        Name
      </th>
      <th class="sort desc" data-sort="timestamp">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        Last contact
      </th>
      <th class="sort hidden-xs" data-sort="client-status">
        <% if current_user.department.client_statuses? %>
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            Status
        <% else %>
            Action
        <% end %>
      </th>
    </tr>
    </thead>
    <tbody class="list">
      <% @reporting_relationships.each do |rr| %>
        <% client = rr.client %>
        <tr id="<%= dom_id(client) %>" class="<%= client_messages_status(rr) %>">
          <td class="lastname fullname" data-lastname="<%= client.last_name %>" data-fullname="<%= client.full_name %>">
            <a class="cell-content" href="<%= reporting_relationship_path(rr) %>">
              <% if client_messages_status(rr) == 'unread' %>
                  <i class="status-icon unread-message hidden-xs"></i>
              <% elsif client_messages_status(rr) == 'error' %>
                  <i class="icon-warning hidden-xs"></i>
              <% end %>
              <%= client.full_name %>
            </a>
          </td>
          <td class="timestamp" data-timestamp="<%= rr.timestamp %>">
            <a class="cell-content" href="<%= reporting_relationship_path(rr) %>">
              <% last_contacted = rr.last_contacted_at %>
              <%= last_contacted ? time_ago_in_words(last_contacted) : '--' %>
            </a>
          </td>
            <% if current_user.department.client_statuses? %>
              <td class="hidden-xs client-status" data-client-status="<%= rr.client_status ? rr.client_status : '--' %>">
                <a class="cell-content"
                   href="<%= edit_client_path(client.id) %>">
                  <i class="hidden-xs status-icon" style="background-color:<%= rr.client_status.icon_color if rr.client_status %>"></i>
                  <%= rr.client_status ? rr.client_status.name : '--' %>
                </a>
              </td>
            <% else %>
              <td class="hidden-xs">
                <a class="cell-content" href="<%= edit_client_path(client.id) %>">
                  Manage
                </a>
              </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div id="no-search-results" class="notice" role="alert" style="display: none;">
    Your search didn't return any results. Clear your search to view all clients.
  </div>
</div>
