<div id="client-list" class="grid__item">
  <div class="input-group client-search-input">
    <div class="inner-addon left-addon">
      <input type="text" class="searchbar__input search" placeholder="Search clients by name"/>
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </div>
    <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
  </div>
  <table class="data-table data-table--selectable">
    <thead>
    <tr>
      <th class="sort" data-sort="lastname">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        Name
      </th>
      <th class="sort desc" data-sort="timestamp">
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        Last contact
      </th>
      <th class="sort hidden-xs" data-sort="client-status">
        <% if FeatureFlag.enabled? 'client_status' %>
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            Status
        <% else %>
            Action
        <% end %>
      </th>
    </tr>
    </thead>
    <tbody class="list">
    <% @clients.each do |client| %>
        <tr id="<%= dom_id(client) %>" class="<%= client_messages_status(client, current_user) %>">
          <td class="lastname fullname" data-lastname="<%= client.last_name %>" data-fullname="<%= client.full_name %>">
            <a class="cell-content" href="<%= reporting_relationship_path(current_user.reporting_relationships.find_by(client: client)) %>">
              <% if client_messages_status(client, current_user) == 'unread' %>
                  <i class="status-icon unread-message hidden-xs"></i>
              <% elsif client_messages_status(client, current_user) == 'error' %>
                  <i class="icon-warning hidden-xs"></i>
              <% end %>
              <%= client.full_name %>
            </a>
          </td>
          <td class="timestamp" data-timestamp="<%= client.timestamp(user: current_user) %>">
            <a class="cell-content" href="<%= reporting_relationship_path(current_user.reporting_relationships.find_by(client: client)) %>">
              <% last_contacted = client.last_contacted_at(user: current_user) %>
              <%= last_contacted ? time_ago_in_words(last_contacted) : '--' %>
            </a>
          </td>
            <% if FeatureFlag.enabled? 'client_status' %>
              <td class="hidden-xs client-status" data-client-status="<%= client.client_status(user: current_user) ? client.client_status(user: current_user).name : '--' %>">
                <a class="cell-content"
                   href="<%= edit_client_path(client.id) %>">
                  <i class="hidden-xs status-icon <%= client.client_status(user: current_user).name.downcase if client.client_status(user: current_user) %>"></i>
                  <%= client.client_status(user: current_user) ? client.client_status(user: current_user).name : '--' %>
                </a>
              </td>
            <% else %>
              <td class="hidden-xs">
                <a class="cell-content" href="<%= edit_client_path(client.id) %>">
                  Manage
                </a>
              </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div id="no-search-results" class="notice" role="alert" style="display: none;">
    Your search didn't return any results. Clear your search to view all clients.
  </div>
</div>
