<tbody id="client-list">
<% @clients.each do |client| %>
  <tr id="<%= dom_id(client) %>" class="<%= client_messages_read_or_unread(client) %>">
    <td class="client-name" data-href="<%= client_messages_path(client.id) %>">
      <% if client_messages_read_or_unread(client) == 'unread' %>
          <i class="message-status-icon hidden-xs"></i>
      <% end %>
      <%= client.full_name %></td>
    <td data-href="<%= client_messages_path(client.id) %>"><%= time_ago_in_words(client.contacted_at) %></td>
    <td class="hidden-xs" data-href="<%= edit_client_path(client.id) %>">Manage</td>
  </tr>
<% end %>
</tbody>
