<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title">Manage</h1>
  </div>
  <div class="form-card__content">
    <h4>Download transcript</h4>
    <p>You can download a text file with a transcript of your message history with <%= "#{@client.first_name} #{@client.last_name}" %>.</p>
    <a href="<%= client_messages_download_path(@client) %>">
      <button class="button">Download transcript <i class="button__icon icon-get_app"></i></button>
    </a>
    <h4>Delete client</h4>
    <p>
      When a client leaves your caseload you can delete them from your contact list.
      If they send you a message later they will automatically return to your contact list.
    </p>
    <p class="text--danger"><i class="icon-report"></i> Once you delete a client you won't be able to undo it</p>
    <%= button_to "Delete #{@client.first_name} #{@client.last_name}", client_archive_path(@client), class: :button, data: { confirm: 'Are you sure you want to delete this client?' }, params: { client: { reporting_relationships_attributes: { id: current_user.reporting_relationships.find_by(client: @client), active: false } } } %>
    <% if ENV['INTERCOM_APP_ID'].present? %>
      <h4>Transfer Client</h4>
      <p>
        A client can only be assigned to one user at a time. If someone else needs to text <%= @client.full_name %>, request a transfer by letting us know.
      </p>
      <button class="button" id="transfer-button" data-client-name="<%= @client.full_name %>">Request transfer</button>
    <% end %>
  </div>
</div>
