<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title"><%= form_title %></h1>
  </div>
  <div class="form-card__content">

    <%= form_for @client, builder: GcfFormBuilder do |f| %>
        <%= f.gcf_input_field :first_name, "First name", autofocus: true, classes: ['form-width--name'] %>
        <%= f.gcf_input_field :last_name, "Last name", classes: ['form-width--name'] %>
        <%= f.gcf_input_field :phone_number, "Phone number", notes: ['example: 2435551212'], classes: ['form-width--med'] %>

        <div class="form-card__footer">
          <div class="toolbar">
            <div class="toolbar__left"><%= f.submit save_text, class: 'button button--cta', role: 'button' %></div>
            <div class="toolbar__right">
              <%= link_to clients_path, class: "button" do %>
                  Cancel
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>