<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title">Manage</h1>
  </div>
  <div class="form-card__content">
    <div>
      <h4>Download transcript</h4>
      <p>You can download a text file with a transcript of your message history with <%= "#{@client.first_name} #{@client.last_name}" %>.</p>
      <a href="<%= client_messages_download_path(@client) %>">
        <button class="button">Download transcript <i class="button__icon icon-get_app"></i></button>
      </a>
    </div>
    <%= form_for @client do |client_form| %>
      <h4>Delete client</h4>
      <p>
        When a client leaves your caseload you can delete them from your contact list.
        If they send you a message later they will automatically return to your contact list.
      </p>
      <div id='survey' class='notice'>
        <%= client_form.fields_for :reporting_relationships, @reporting_relationship do |rr_fields| %>
          <%= rr_fields.hidden_field :active, value: false %>
        <% end %>
        <%= client_form.fields_for :surveys, @client.surveys.new do |survey_fields| %>
          <% SurveyQuestion.all.each do |sq| %>
            <p class='question-text'><%= sq.text %></p>
            <%=
              survey_fields.collection_check_boxes(
                :survey_response_ids,
                SurveyResponse.all,
                :id,
                :text
              ) do |b|
            %>
              <% response = b.object %>
              <%= b.label(class: ['survey-response']) do %>
                <span class='cb'>
                <%= b.check_box %>
                </span>
                <%= response.text %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= client_form.submit "Delete #{@client.first_name} #{@client.last_name}", id: :deactivate_client, class: :button %>
    <% end %>

    <% if ENV['INTERCOM_APP_ID'].present? %>
      <h4>Transfer Client</h4>
      <p>
        A client can only be assigned to one user at a time. If someone else needs to text <%= @client.full_name %>, request a transfer by letting us know.
      </p>
      <button class="button" id="transfer-button" data-client-name="<%= @client.full_name %>">Request transfer</button>
    <% end %>
  </div>
</div>
