<div class="form--client form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title"><%= form_title %></h1>
  </div>
  <div class="form-card__content">

    <% other_users = @client.active_users.where.not(id: current_user.id) %>
    <% if other_users.any? %>
      <div class="notice">
        <div class="media">
          <div class="media-left media-middle">
            <i class="media-object icon-link_in_circle orange"></i>
          </div>
          <div class="media-body">
            <p>
              This client is also assigned to
              <strong><%= other_users.pluck(:full_name).to_sentence %></strong>.
              Changing the client's name or phone number will change it for everyone.
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <% field_method = (other_users.any? ? :gcf_input_field_with_link_icon : :gcf_input_field) %>
    <%= form_for @client, builder: GcfFormBuilder do |f| %>
      <%= f.send(field_method, :first_name, "First name", classes: ['form-width--name']) %>
      <%= f.send(field_method, :last_name, "Last name", classes: ['form-width--name']) %>

      <%= f.send(field_method, :phone_number, "Phone number", notes: ['example: 2435551212'], classes: ['form-width--med']) %>

      <%= f.fields_for :reporting_relationships, @reporting_relationship, builder: GcfFormBuilder do |rr| %>
        <% if FeatureFlag.enabled? 'client_status' %>
          <%= rr.gcf_radio_set :client_status_id, "Client status", ClientStatus.all.map {|status| {value: status.id, label: status.name, notes: status.followup_date}} %>
        <% end %>

        <%= rr.gcf_input_field :notes, 'Notes', notes: "Add a private note that will appear in this client's profile", classes: ['form-width--long'] %>
      <% end %>

      <div class="form-card__footer">
        <div class="toolbar">
          <div class="toolbar__left"><%= f.submit save_text, class: 'button button--cta', role: 'button' %></div>
          <div class="toolbar__right">
            <%= link_to clients_path, class: "button" do %>
              Cancel
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
