<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-three-forth shift-three-fourth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">
          <%= render "clients/client_status" %>
          <% if current_user.treatment_group == 'ebp-1-4' %>
          <div class="tip">
            <div class="emoji emoji--tiny emoji--electric-light-bulb"></div>
            <span class="tip-title"><%= t('views.tips.title') %></span>
            <div class="media-body"><%= t('views.tips.positive_reinforcement_html') %></div>
          </div>
          <% end %>
          <% if @highlight_blob.present? %>
            <%= @highlight_blob.text.html_safe %>
          <% end %>
          <div class="toolbar-responsive with-padding-med">
            <div class="toolbar__left-responsive">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right-responsive">
              <%= link_to new_client_path, class: "button button--small" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
              <% if feature_flag_for("mass_messages") %>
                <%= link_to new_mass_message_path, class: "button button--small button--primary button--mass-message" do %>
                  Mass message
                <% end %>
              <% end %>
            </div>
          </div>
          <% if @reporting_relationships.any? %>
            <%= render "clients/clients" %>
          <% else %>
            <div id="client-empty-dialog" class="center-align">
              <%= image_tag "mailbox.svg" %>
              <p class="text--help"><%= t('clients.empty') %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
