<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-three-forth shift-three-fourth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">
          <%= render "clients/client_status" %>
          <% if current_user.treatment_group == 'ebp-1-4' %>
          <div class="tip">
            <div class="emoji emoji--tiny emoji--electric-light-bulb"></div>
            <span class="tip-title"><%= t('views.tips.title') %></span>
            <div class="media-body"><%= t('views.tips.positive_reinforcement_html') %></div>
          </div>
          <% end %>
          <% if @change_image.present? %>
            <table class="change-alert hidden-xs">
              <tr>
                <td class="change-alert--text">
                  <span class="change-alert--title"><%= t('views.change_text.title') %></span>
                  <div class="change-alert--body"><%= t('views.change_text.body') %></div>
                  <div class="reveal is-hidden">
                    <p><a href="#" class="reveal__link"><%= t('views.change_text.more_link_text') %></a></p>
                    <div class="reveal__content text--left">
                      <div class="notice">
                        <p><%= t('views.change_text.more_body') %></p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="change-alert--image">
                  <img src="<%= @change_image.file.expiring_url(10) %>" />
                </td>
              </tr>
            </table>
          <% end %>
          <div class="toolbar-responsive with-padding-med">
            <div class="toolbar__left-responsive">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right-responsive">
              <%= link_to new_client_path, class: "button button--small" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
              <% if FeatureFlag.enabled?("mass_messages") %>
                <%= link_to new_mass_message_path, class: "button button--small button--primary button--mass-message" do %>
                  Mass message
                <% end %>
              <% end %>
            </div>
          </div>
          <%= render "clients/clients" %>
        </div>
      </div>
    </div>
  </div>
</section>
