<section class="message--create">
  <div class="grid">
    <% if @messages_scheduled.count > 0 %>
      <% rr = @client.reporting_relationship(user: current_user) %>
      <%= render "reporting_relationships/scheduled_messages_link", count: @messages_scheduled.count, rr: rr %>
    <% end %>
  </div>

  <div id="sendbar-container">
    <div class="sendbar">
      <%= form_for Message.new, authenticity_token: true, html: { :multipart => true }, remote: true do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">
        <input name="positive_template_type" class='positive-template-type' type="hidden" value="">
        <div class="sendbar-inner">
          <div id="sendbar-buttons">
            <button id="send_message" class="sendbar__button button--primary" type="submit">Send</button>
            <button id="send_later" class="sendbar__button" data-toggle="modal" type="button" data-target="#new-message-modal">Send later</button>
            <button id="send_icon" type="submit"><i class="icon-send"></i></button>
          </div>
          <div id="sendbar-textarea">
            <div class="inner-addon right-addon">
              <%= f.text_area(:body, { autofocus: autofocus, type: 'text', class: 'sendbar__input main-message-input autosize', autocomplete: 'off', autocorrect: 'on', spellcheck: 'true', autocapitalize: 'off', rows: 1, placeholder: 'Send a text message' }) %>
            </div>
          </div>
          <div id="image_icon">
            <label for="message_attachments_0_media" id="image-upload" >
              <i class="icon-photo"></i>
              <input id="message_attachments_0_media" name="message[attachments][][media]" type="file" accept="image/jpeg,image/png" />
            </label>
          </div>
        </div>
      <% end %>
      <% if current_user.treatment_group == 'ebp-liking-messages' %>
        <like-options class="hidden-xs <%= 'hidden' unless @messages.last&.inbound %>" >
          <% APP_CONFIG['like_text'].shuffle.each do |text| %>
            <like-option tabindex='0'><%= text %></like-option>
          <% end %>
        </like-options>
      <% end %>
      <div id="file-name-preview">
        <button id="image-cancel"> &#10006; </button>
        <span class="image-help-text"></span>
      </div>
    </div>
  </div>
</section>
