<section class="message--create">
  <div class="grid">
    <% if @messages_scheduled.count > 0 %>
      <% rr = @client.reporting_relationship(user: current_user) %>
      <%= render "reporting_relationships/scheduled_messages_link", count: @messages_scheduled.count, rr: rr %>
    <% end %>
  </div>

  <div class="sendbar">
    <div class="grid">
      <%= form_for Message.new, remote: true do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">
        <input name="positive_template_type" class='positive-template-type' type="hidden" value="">

        <div class="grid__item width-two-thirds">
          <div class="inner-addon right-addon">
            <%= f.text_area(:body, { autofocus: autofocus, type: 'text', class: 'sendbar__input main-message-input autosize', autocomplete: 'off', autocorrect: 'on', spellcheck: 'true', autocapitalize: 'off', rows: 1, placeholder: 'Send a text message' }) %>
            <% if FeatureFlag.enabled?('templates') %>
            <a tabindex="0"
              id="template-button"
              class="no-underline"
              role="button"
              data-trigger="focus"
              data-toggle="popover"
              data-html="true"
              data-placement="top"
              title="<strong>My templates</strong>"
              data-template-count="<%= @templates.count %>"
              data-client-id="<%= @client.id %>"
              data-content='<%= render 'reporting_relationships/templates' %>'
            >
              <i class="icon-insert_comment"></i></a>
            <% end %>
          </div>
        </div>
        <div id="sendbar-buttons" class="grid__item width-one-third">
          <button id="send_message" class="sendbar__button button--primary" type="submit">Send</button>
          <button id="send_later" class="sendbar__button" data-toggle="modal" type="button" data-target="#new-message-modal">Send later</button>
        </div>
      <% end %>
    <% if current_user.treatment_group == 'ebp-liking-messages' %>
      <like-options class="hidden-xs <%= 'hidden' unless @messages.last.inbound %>" >
        <% APP_CONFIG['like_text'].shuffle.each do |text| %>
          <like-option tabindex='0'><%= text %></like-option>
        <% end %>
      </like-options>
    <% end %>
    </div>
  </div>
</section>
