<% content_for(:template_name) { "messages" }  %>
<% content_for(:js) do %>
  <%= javascript_include_tag 'messages' %>
<% end %>

<section class="slab slab--header chat--header" data-spy="affix" data-offset-top="60">
    <div id="flexbox--container">
    <div id="home-button">
      <%= link_to clients_path, class: 'button button--small pull-left nudge--small' do %>
          <i class="button__icon--left icon-arrow_back"></i><span class="hidden-sm hidden-xs">Home</span>
      <% end %>
    </div>
    <div class="client-name">
      <h2 class="client-name">
        <%= @client.full_name %>
      </h2>
      <span class="header--paragraph no-margin hidden-xs">
        <%= phone_number_display(@client.phone_number) %>
      </span>

      <% unless feature_flag_for('hide_notes') %>
        <span id="truncated_note" class="header--paragraph hidden-xs">
          <% unless @client.notes(user: current_user).blank? %> &#8226; <% end %>
          <%= truncate(@client.notes(user: current_user), length: 40, separator: ' ', omission: '... ') { link_to 'More', '#0', { id: 'show_note' } } %>
        </span>
        <span id="full_note" style="display:none" class="header--paragraph hidden-xs">
          <%= @client.notes(user: current_user) %> <%= link_to 'Less', '#0', { id: 'hide_note' } %>
        </span>
      <% end %>

    </div>
    <div class="manage-button hidden-xs">
      <%= link_to "Manage client", edit_client_path(@client), { class: 'button button--small pull-right nudge--small' } %>
    </div>
    <div class="manage-button hidden-sm hidden-md hidden-lg">
      <%= link_to "Manage", edit_client_path(@client), { class: 'button button--small pull-right nudge--small' } %>
    </div>
    </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
    <% if @messages.messages.empty? %>
      <div id="messages-empty-dialog" class="center-align" >
        <%= image_tag "handshake.png" %>
        <p class="text--help"><%= t('messages.empty', client_first_name: @client.first_name) %></p>
      </div>
    <% end %>
  </div>
</section>

<%= render 'reporting_relationships/send_message_form', autofocus: @sendfocus.present? %>

<% rr = @client.reporting_relationship(user: current_user) %>
<% if @message.id.present? %>
  <%= render 'reporting_relationships/edit_message_modal',
    modal_id: 'edit-message-modal',
    message: @message,
    errors: @message.errors.any?,
    back_link: reporting_relationship_scheduled_messages_index_path(rr),
    modal_title: 'Edit your message',
    date_picker_id: 'edit_message_send_at_date',
    submit_text: 'Update' %>
<% else %>
  <%= render 'reporting_relationships/edit_message_modal',
    modal_id: 'new-message-modal',
    message: @message,
    errors: @message.errors.any?,
    modal_title: 'Send message later',
    date_picker_id: 'new_message_send_at_date',
    submit_text: 'Schedule message' %>
<% end %>
