<div class="message--<%= message_inbound_or_outbound(text_message) %> <%= text_message.read ? 'read' : 'unread' %>" id="message_<%= text_message.id %>">
  <div class="message-row-container">
    <div class="message--<%= text_message.any_image_attachments? ? 'image' : 'content' %> <%= text_message.twilio_status || 'sending' %>">
      <% text_message.body.each_line do |body_line| %>
        <%= body_line %><br/>
      <% end %>
      <%= render text_message.attachments %>
    </div>
  </div>
  <%= render 'text_messages/text_message_status', text_message: text_message %>
</div>
