<div class="message--<%= message_inbound_or_outbound(text_message) %> <%= text_message.read ? 'read' : 'unread' %>" id="message_<%= text_message.id %>">
  <div class="message-row-container">
    <div class="message--<%= text_message.any_image_attachments? ? 'image' : 'content' %> <%= text_message.twilio_status %>">
      <% text_message.body.each_line do |body_line| %>
      <div>
        <%= body_line %>
      </div>
      <% end %>
      <%= render text_message.attachments %>
    </div>
    <% if text_message.inbound && text_message.user.treatment_group == 'ebp-liking-messages' %>
      <i class="show-like-options icon-add hidden-xs"></i>
      <div class="like-options hidden">
        <% APP_CONFIG['like_text'].each do |text| %>
          <div><%= text %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="message--label <%= text_message.twilio_status %>">
  <% if text_message.twilio_status == 'undelivered' %>
    <%= t('message.status.undelivered') %>
  <% elsif text_message.twilio_status == 'blacklisted' %>
    <%= t('message.status.blacklisted') %>
  <% elsif [nil, 'sent', 'sending'].include? text_message.twilio_status %>
    <%= t('message.status.sent') %><loading-dots><dot></dot><dot></dot><dot></dot></loading-dots>
  <% else %>
    <%= text_message.twilio_status %> <%= text_message.send_at.to_s(:message_timestamp) %>
  <% end %>
  </p>
</div>
