<div class="message--<%= text_message_inbound_or_outbound(text_message) %>" id="<%= dom_id(text_message) %>">
  <div class="message-row-container">
    <div class="message--content <%= text_message.twilio_status %>"><%= text_message.body %>
    <%= render text_message.attachments %>
    </div>
    <% if text_message.inbound && text_message.user.treatment_group == 'ebp-liking-text_messages' %>
      <i class="show-like-options icon-add hidden-xs"></i>
      <div class="like-options hidden">
        <% APP_CONFIG['like_text'].each do |text| %>
          <div><%= text %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="message--label <%= text_message.twilio_status %>">
  <% if text_message.twilio_status == 'undelivered' %>
    <%= t('text_message.status.undelivered') %>
  <% else %>
    <%= text_message.twilio_status %> <%= text_message.send_at.to_s(:text_message_timestamp) %>
  <% end %>
  </p>
</div>
