<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="form-card form-card--compact">

        <div class="form-card__header">
          <div class="toolbar">
            <div class="toolbar__left">
              <h1 class="form-card__title">Sign up</h1>
            </div>
            <div class="toolbar__right">
              <%= link_to new_session_path(resource_name), class: "button button--small" do %>
                  Log in
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-card__content">
          <%= form_for resource, as: resource_name, url: invitation_path(resource_name), builder: GcfFormBuilder do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :invitation_token %>

              <%= f.gcf_input_field :full_name, "Full name", autofocus: true, classes: ['form-width--long'] %>
              <%= f.gcf_input_field :email, "Email", classes: ['form-width--long'] %>

              <% if f.object.class.require_password_on_accepting %>
                  <%= f.gcf_input_field :password, "Password", type: "password", classes: ['form-width--long'], notes: ['(' + @minimum_password_length.to_s + ' characters minimum)'] %>
                  <%= f.gcf_input_field :password_confirmation, "Confirm password", type: "password", classes: ['form-width--long'] %>
              <% end %>

              <div class="form-card__footer">
                <div class="toolbar">
                  <div class="toolbar__left">
                    <div class="toolbar__item">
                      <%= f.submit "Sign up" %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
