<div class="modal fade" id="scheduled-list-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="<%= client_messages_path(@client) %>" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="form-card__title" id="myModalLabel">Manage scheduled messages</h2>
      </div>

      <div class="grid__item">
        <table class="data-table data-table--selectable">
          <thead>
            <tr>
              <th>Message</th>
              <th>Send date</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="scheduled-list">
          <% @messages_scheduled.each do |message| %>
            <tr id="<%= dom_id(message) %>">
              <td><%= link_to message.body, edit_message_path(message) %></td>
              <td><%= link_to message.send_at, edit_message_path(message) %></td>
              <td><a href="<%= edit_message_path(message) %>"><i class="icon-mode_edit"></i></a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
