<div class="modal" id="scheduled-list-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="<%= reporting_relationship_path(current_user.reporting_relationships.find_by(client: @client)) %>" class="close no-underline" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="form-card__title" id="myModalLabel">Manage scheduled messages</h2>
      </div>

      <div class="grid__item">
        <table class="data-table data-table--selectable">
          <thead>
            <tr>
              <th>Message</th>
              <th>Send date</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="scheduled-list">
          <% @messages_scheduled.each do |message| %>
            <tr id="<%= dom_id(message) %>">
              <td><%= link_to truncate(message.body, length: 80), edit_message_path(message), class: 'cell-content' %></td>
              <td><%= link_to message.send_at.strftime("%m/%d/%Y %-l:%M%P"), edit_message_path(message), class: 'cell-content' %></td>
              <td><%= link_to 'Edit', edit_message_path(message), class: 'cell-content' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
