<% content_for(:template_name) { "messages" }  %>

<section class="slab slab--header">
  <div class="grid">
    <div class="grid__item">
      <h2 class="client-name"><%= @client.full_name %></h2>
      <%= link_to "Manage client", edit_client_path(@client), {class: 'button button--small' } %>
    </div>
    <span class="text--help is-mobile-hidden--inline"><%= phone_number_display(@client.phone_number) %></span>
  </div>
</section>

<section class="slab slab--padded slab--borderless" id="scroller-target">
  <div id="message-list" class="message--container grid" data-client-id="<%= @client.id %>">
    <%= render @messages %>
  </div>
</section>

<%= render "reporting_relationships/send_message_form", autofocus: false %>

<%= render "scheduled_list_modal" %>
