<!DOCTYPE html>
<html>
  <head>
    <title>ClientComm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for(:head) if content_for?(:head) %>
  </head>
  <% if notice %>
  <div class="flash-container" id="dismiss-notice">
    <div class="flash">
      <p class="flash__message"><%= notice %></p>
      <a href="#dismiss-notice" class="flash__dismiss"><span class="icon icon-close"></span></a>
    </div>
  </div>
  <% end %>

  <% if alert %>
  <div class="flash-container" id="dismiss-notice">
    <div class="flash flash--error">
      <p class="flash__message"><%= alert %></p>
      <a href="#dismiss-notice" class="flash__dismiss"><span class="icon icon-close"></span></a>
    </div>
  </div>
  <% end %>

  <body class="template--<%= content_for(:template_name) if content_for?(:template_name) %>">
    <div class="page-wrapper">
      <header class="main-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <h1 class="toolbar__item main-header__title"><a class="main-header__site-title" href="/">ClientComm</a><span class="label label--magenta">Beta</span></h1> 
          </div>
          <div class="toolbar__right text--small">
            <% if user_signed_in? %>
            <span class="toolbar__item is-mobile-hidden--inline"><%= current_user.full_name != "" ? current_user.full_name : current_user.email %></span>
            <span class="toolbar__item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
            <% end %>
          </div>
        </div>
      </header>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
