<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'ClientComm' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="mixpanel_token" content="<%= ENV['MIXPANEL_TOKEN'] %>">
    <meta name="visitor_id" content="<%= visitor_id %>">
    <meta name="deploy" content="<%= deploy_prefix %>">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for(:head) if content_for?(:head) %>
  </head>
  <body<% if content_for?(:template_name) %> class="template--<%= content_for(:template_name) %>"<% end %><% if user_signed_in? %> data-user-id="<%= current_user.id %>"<% end %>>
    <% if notice %>
    <%= render partial: "layouts/flash", locals: {classes: ['flash'], body: notice} %>
    <% end %>

    <% if alert %>
    <%= render partial: "layouts/flash", locals: {classes: ['flash', 'flash--error'], body: alert} %>
    <% end %>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header main-header__title">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav-dropdown" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            Menu
          </button>
          <div class="toolbar__left">
            <a class="navbar-brand main-header__site-title" href="/">
              ClientComm
            </a>
            <p class="navbar-text user-phone-number hidden-xs"><%= @clientcomm_phone_number %></p>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="mobile-nav-dropdown">
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right text--small">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Logged in as <%= current_user.full_name %></li>
                  <li><%= link_to "Account settings", edit_user_registration_path, class: ['no-underline'] %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, class: ['no-underline'], :method => :delete %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="page-wrapper">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
