<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'ClientComm' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="mixpanel_token" content="<%= ENV['MIXPANEL_TOKEN'] %>">
    <meta name="visitor_id" content="<%= visitor_id %>">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= content_for(:head) if content_for?(:head) %>     
  </head>
  <body<% if content_for?(:template_name) %> class="template--<%= content_for(:template_name) %>"<% end %><% if user_signed_in? %> data-user-id="<%= current_user.id %>"<% end %>>
    <% if notice %>
    <%= render partial: "layouts/flash", locals: {classes: ['flash'], body: notice} %>
    <% end %>

    <% if alert %>
    <%= render partial: "layouts/flash", locals: {classes: ['flash', 'flash--error'], body: alert} %>
    <% end %>

    <div class="page-wrapper">
      <header class="main-header">
        <div class="toolbar">
          <div class="toolbar__left">
            <h1 class="toolbar__item main-header__title">
              <a class="main-header__site-title" href="/">
                ClientComm <span class="label label--magenta">Beta</span>
              </a>
              <span class="user-phone-number is-mobile-hidden--inline"><%= @clientcomm_phone_number %></span>
            </h1>
          </div>
          <div class="toolbar__right text--small">
            <% if user_signed_in? %>
            <span class="toolbar__item is-mobile-hidden--inline"><%= current_user.full_name != "" ? current_user.full_name : current_user.email %></span>
            <span class="toolbar__item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></span>
            <% end %>
          </div>
        </div>
      </header>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
