<div class="slab">
  <div class="grid">
    <div class="grid__item width-one-half shift-one-fourth">
      <div class="form-card form-card--compact">
        <div class="form-card__header">
          <h1 class="form-card__title">Change password</h1>
        </div>
        <div class="form-card__content">
          <%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :patch }, builder: GcfFormBuilder) do |f| %>

            <%= f.gcf_input_field(:current_password, "Current password", type: "password", classes: ["form-width--med"], autofocus: true) %>
            <%= f.gcf_input_field(:password, "New password", type: "password", classes: ["form-width--med"], notes: "This should be at least 6 characters.") %>
            <%= f.gcf_input_field(:password_confirmation, "Confirm new password", type: "password", classes: ["form-width--med"], autofocus: true) %>

            <div class="form-card__footer">
              <%= f.continue "Update" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
